@model JournalKIT.Models.Groupstudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Groupstudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namegroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namegroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creategroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creategroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialty.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
