@model IEnumerable<JournalKIT.Models.Groupstudent>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namegroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creategroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namegroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creategroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty.Namespecialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.Nametutor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
