@model IEnumerable<JournalKIT.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1>Рейтинг</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sportrating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sciencerating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Societyrating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sportrating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sciencerating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Societyrating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Namestudent)
            </td>
        </tr>
}
    </tbody>
</table>
